
body{
	background-color: black;
	font-family: Palatino;
	background-image: url("JP1_castcrew_preview.jpg"); 
	/* background-size: cover; */
	/* display: flex; */
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

div{
	color: green;
}

form{
	color: white;
	text-align: center;	
	margin: auto;
	
}
